<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/studentorm</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="connection.username">root</property>
        <property name="connection.password">12061555</property>
        <mapping class="entities.ClassTableEntity"/>
        <mapping resource="entities/ClassTableEntity.hbm.xml"/>
        <mapping class="entities.CourseTableEntity"/>
        <mapping resource="entities/CourseTableEntity.hbm.xml"/>
        <mapping class="entities.ScoreTableEntity"/>
        <mapping resource="entities/ScoreTableEntity.hbm.xml"/>
        <mapping resource="entities/StudentTableEntity.hbm.xml"/>
        <mapping class="entities.StudentTableEntity"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>